.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 180px;

  .filter-container {
    display: flex;
    align-items: center;
    height: 24px;
    cursor: pointer;

    span {
      font-family: var(--font-family-saira);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--secondary-grey-color);
    }

    img {
      margin-left: 16px;
    }
  }

  ul {
    position: absolute;
    padding-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    top: 100%;
    right: 1%;
    width: 156px;
    height: 132px;
    background: var(--white-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    li {
      cursor: pointer;
      padding-left: 10px;
      list-style-type: none;
      font-family: 'Saira';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: var(--secondary-grey-color);
    }
  }
}
